<div class="oi-form">
  <div class="oi-form-head">
    <div class="oi-form-head-locale"><oi-set-locale locales="$modalArgs.locales"></oi-set-locale></div>
    <span ng-if="!$modalArgs.create">Gruppe bearbeiten</span>
    <span ng-if=" $modalArgs.create">Gruppe hinzufuegen</span>
  </div>

  <div oi-schema-attr-group-temp="$modalArgs.temp" oi-view="editModel"></div>
  <div oi-schema-attr-group-temp="$modalArgs.temp" oi-view="editType"></div>

  <div class="oi-form-buttons">
    <button type="submit" class="btn btn-default" ng-click="$modal.abort()">abbrechen</button>
    <button ng-if="!$modalArgs.create" type="submit" class="btn btn-default" ng-click="$modal.fulfill()">&uuml;bernehmen</button>
    <button ng-if=" $modalArgs.create "type="submit" class="btn btn-default" ng-click="$modal.fulfill()">hinzuf&uuml;gen</button>
  </div>
</div>
