<div class="oi-ui-page">
<div class="oi-form oi-mdc-50">
  <div class="oi-form-head oi-mdc-200">
    <div class="oi-form-head-locale"><oi-set-locale locales="locales" all="true"></oi-set-locale></div>
    <h3>Themenauspr&auml;gung bearbeiten</h3>
  </div>

  <div oi-schema-top-char-temp="temp" oi-view="editModel"></div>
  <div oi-schema-top-char-temp="temp" oi-view="editType"></div>

  <div class="oi-form-buttons oi-mdc-200">
    <button type="submit" class="oi-mdc-a200" ng-click="abort()">abbrechen</button>
    <button type="submit" class="oi-mdc-a200" ng-click="submit()">speichern</button>
  </div>
</div>
</div>
